@charset "UTF-8";

/* header.jsp */
.header {
	width: 1200px;
	margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
}

.h-top-menu {
	margin: 0 auto;
	font-size: 30px;
	width: 1200px;
}

.h-top-menu-left {
	float: left;
	font-size: 30px;
}

.h-top-menu-right {
	float: right;
	font-size: 15px;
}

.h-middle-menu {
	width: 1200px;
	margin: 0 auto;
	padding-top: 150px;
	display: flex; /* Flexbox 설정 */
	justify-content: center; /* 가로 중앙 정렬 */
}

.h-middle-menu a {
	margin: 0 40px;
	font-size: 30px;
}

.h-search-box {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.h-search-input {
	padding: 10px; /* 내부 여백 */
	font-size: 16px;
	border: 1px solid #ccc; /* 테두리 스타일 */
	border-radius: 5px; /* 테두리 모서리 둥글게 만듦 */
}

.h-search-button {
	padding: 10px 20px; /* 버튼 내부 여백 */
	font-size: 16px;
	background-color: #007bff; /* 배경색 */
	color: #fff; /* 글자색 */
	border: none; /* 테두리 없음 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 스타일 변경 */
	transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.h-search-button:hover {
	background-color: #0056b3; /* 마우스 호버 시 배경색 변경 */
}

/* footer.jsp  */
.f-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.f-modal2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.f-modal_body h2 {
	text-align: center;
}

.f-modal_body2 h2 {
	text-align: center;
}

.f-modal_body {
	position: absolute;
	/*모달을 화면가운데 놓기위함. */
	top: 50%;
	/* 모달의 가로크기 */
	width: 60%;
	/*모달의 세로크기  */
	height: 700px;
	padding: 40px;
	text-align: left;
	/* 모달창 배경색 흰색 */
	background-color: rgb(255, 255, 255);
	/*  테두리  */
	border-radius: 10px;
	/*  테두리 그림자 */
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 모듈창열었을때 위치설정 가운데로 */
	transform: translateY(-50%);
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	-ms-overflow-style: none;
}
.f-modal_body2 {
	position: absolute;
	/*모달을 화면가운데 놓기위함. */
	top: 50%;
	/* 모달의 가로크기 */
	width: 60%;
	/*모달의 세로크기  */
	height: 700px;
	padding: 40px;
	text-align: left;
	/* 모달창 배경색 흰색 */
	background-color: rgb(255, 255, 255);
	/*  테두리  */
	border-radius: 10px;
	/*  테두리 그림자 */
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	/* 모듈창열었을때 위치설정 가운데로 */
	transform: translateY(-50%);
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	-ms-overflow-style: none;
}
.f-modal-header {
	position: fixed;
	top: 0;
	width: 95%;
	z-index: 100;
}
.f-modal-header2 {
	position: fixed;
	top: 0;
	width: 95%;
	z-index: 100;
}
.f-modal_body::-webkit-scrollbar {
	display: none;
}
.f-modal_body2::-webkit-scrollbar {
	display: none;
}
.f-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
	color: #aaa;
	font-size: 35px;
}

.f-close2 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
	color: #aaa;
	font-size: 35px;
}

.f-close:hover, .f-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.f-close2:hover, .f-close2:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.f {
	width: 100%;
	height: 400px;
	background-color: #f0f0f0;
}
.f-modal-btn{
	text-align: center;
	margin:0 auto;
}
.f-num{
	float:left;
	margin-left: 450px; 
	
}
.f-sangho{
	float:right;
	margin-right: 350px;
}